:root {
  --primary-font: "Poppins", san-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font) !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}
